<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>教室列表</title>
	<link rel="stylesheet" href="../static/lib/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/common.css?1234567">
	<link rel="stylesheet" href="../static/css/carousel.css">
</head>
<body>
	<div class="containe">
		<div class="header">
			<small class="pull-right glyphicon glyphicon-off"></small>
			<span class="pull-left"></span>
			<h1>管理系统</h1>
		</div>
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li role="presentation">
				<a href="../index.html">首页</a>
			</li>
			<li role="presentation">
				<a href="./system.html">系统介绍</a>
			</li>
			<li role="presentation" >
				<a href="javascript:;" data-toggle="dropdown">教室管理<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li>
						<a href="./roomlist.html">教室列表</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="active">
				<a href="javascript:;" data-toggle="dropdown">借用管理<span class="caret"></span></a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li>
						<a href="./history.html">我的借用记录</a>
					</li>
				</ul>
			</li>
			<li role="presentation">
				<a href="javascript:;" data-toggle="dropdown">报修管理<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
						<a href="./roomrepair.html">教室报修</a>
					</li>
				</ul>
			</li>
			<li role="presentation" >
				<a href="javascript:;" data-toggle="dropdown">个人信息管理<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
						<a href="./userinfo.html">修改个人信息</a>
					</li>
				</ul>
			</li>
		</ul>
		<div class="tab-content nav-justified">
			<div role="tabpanel" class="tab-pane fade in active bg_img">
				<div class="row in_count">
					<div class="col-lg-2 side-left">
						<p>借用管理</p>
						<ul>
							<li><a href="./history.html">我的借用记录</a></li>
						</ul>
					</div>
					<div class="col-lg-10 side-right">
						<div class="col-lg-10 side-right page-container">
							<div class="mt-20">
								<table class="table table-striped table-bordered">
									<thead>
										<tr class="text-c">
											<th>教学楼</th>
											<th>教室名称</th>
											<th>借用时间</th>
											<th>课表时间</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr class="text-c">
											<td>主教学楼</td>
											<td>101</td>
											<td>2019-04-10</td>
											<td>第二节课</td>
											<td>
												<a href="javascript:;">归还</a> | <a href="./roomrepair_add.html">报修</a>
											</td>
										</tr>
										<tr class="text-c">
											<td>主教学楼</td>
											<td>101</td>
											<td>2019-04-10</td>
											<td>第二节课</td>
											<td>
												<a href="javascript:;">已归还</a> | <a href="./roomrepair_add.html">报修</a>
											</td>
										</tr>
										<tr class="text-c">
											<td>主教学楼</td>
											<td>101</td>
											<td>2019-04-10</td>
											<td>第二节课</td>
											<td>
												<a href="javascript:;">已归还</a> | <a href="./roomrepair_add.html">报修</a>
											</td>
										</tr>
										<tr clas="text-c">
											<td colspan="9" class="text-c">
												<span class="pull-left">找到3条记录</span>
												<ul class="pagination pull-right">
													<li>
														<a href="#" aria-label="Previous">
															<span aria-hidden="true">&laquo;</span>
														</a>
													</li>
													<li><a href="#">1</a></li>
													<li>
														<a href="#" aria-label="Next">
															<span aria-hidden="true">&raquo;</span>
														</a>
													</li>
												</ul>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="foot">
			<p>你的页脚</p>
		</div>
	</div>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/lib/js/bootstrap.min.js"></script>
</body>
</html>