<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>教室列表</title>
	<link rel="stylesheet" href="../static/lib/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/common.css?1234567">
	<link rel="stylesheet" href="../static/css/carousel.css">
</head>
<body>
	<div class="containe">
		<div class="header">
			<small class="pull-right glyphicon glyphicon-off"></small>
			<span class="pull-left"></span>
			<h1>管理系统</h1>
		</div>
			<ul class="nav nav-pills nav-justified" role="tablist">
			<li role="presentation">
				<a href="../index.html">首页</a>
			</li>
			<li role="presentation">
				<a href="./system.html">系统介绍</a>
			</li>
			<li role="presentation" >
				<a href="javascript:;" data-toggle="dropdown">教室管理<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li>
						<a href="./roomlist.html">教室列表</a>
					</li>
				</ul>
			</li>
			<li role="presentation">
				<a href="javascript:;" data-toggle="dropdown">借用管理<span class="caret"></span></a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li>
						<a href="./history.html">我的借用记录</a>
					</li>
				</ul>
			</li>
			<li role="presentation"  class="active">
				<a href="javascript:;" data-toggle="dropdown">报修管理<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
						<a href="./roomrepair.html">教室报修</a>
					</li>
				</ul>
			</li>
			<li role="presentation" >
				<a href="javascript:;" data-toggle="dropdown">个人信息管理<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
						<a href="./userinfo.html">修改个人信息</a>
					</li>
				</ul>
			</li>
		</ul>
		<div class="tab-content nav-justified">
			<div role="tabpanel" class="tab-pane fade in active bg_img">
				<div class="row in_count">
					<div class="col-lg-2 side-left">
						<p>报修管理</p>
						<ul>
							<li><a href="./roomrepair.html">教室报修</a></li>
						</ul>
					</div>
					<div class="col-lg-10 side-right">
						<div class="col-lg-10 side-right page-container">
							<form class="form-horizontal mt-20">
								
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">教室编号</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" >
									</div>
								</div>
							
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">教学楼</label>
									<div class="col-sm-8">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">教室名称</label>
									<div class="col-sm-8">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">报修理由</label>
									<div class="col-sm-8">
										<select class="form-control">
											<option value="空调损坏">空调损坏</option>
											<option value="多媒体损坏">多媒体损坏</option>
											<option value="投影仪损坏">投影仪损坏</option>
											<option value="桌椅损坏">桌椅损坏</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-default">提交</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="foot">
			<p>你的页脚</p>
		</div>
	</div>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/lib/js/bootstrap.min.js"></script>
</body>
</html>